 nav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   color: white;
   background-color: rgb(228, 54, 228);
   padding: .5rem;
   padding-bottom: 1rem;
 }

 nav ul {
   padding: 0;
   margin: 0;
 }

 nav li {
   display: inline;
   margin: 0 1rem;
 }

 nav a {
   color: black;
   text-decoration: none;
 }

 nav i {
   padding-right: .5rem;
 }

 header {
   background-color: #4b2e83;
   text-align: center;
   color: #fff;
   padding: 20px;
 }

 h1 {
   font-size: 80px;
 }

 h2 {
   font-size: 35px;
   text-align: center;
   padding: 1rem;
 }

 main {
   background-color: lightgray;
 }

 .container {
   display: flex;
   justify-content: center;
 }

 footer {
   background-color: #b7a57a;
   padding: .5rem;
 }

 .card {
   background-color: #a987ee;
   border-radius: 10px;

 }

 .card-box {
   padding-top: 50px;
 }

 .b {
   padding-top: 1rem;
 }
 
  .b > a{
    margin-right: 5px;
  }

 .ss {
   background-color: white;
   font-size: 20px;
 }

 .filter {
   background-color: gray;
   padding: 1.5rem;
 }

 .bnav {
   padding-top: 2rem;
   margin: auto;
   width: 95%;

 }



 .checked {
   color: orange;
 }

 .ci>img {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   width: 100%;
   height: 300px;
   object-fit: cover;
 }




 .rating {
   display: none;
 }

 .test {
   margin-top: 1rem;
 }

 .bar-container {
   width: 100%;
   background-color: gainsboro;
   text-align: center;
   color: white;
 }

 .bar-5 {
   width: 0%;
   height: 18px;
   background-color: black;
 }

 /* Map portion of css */

 #partySizeDDMenuButton,
 #noiseDDMenuButton,
 #areaDDMenuButton {
   width: 100%;
   margin: 0;
 }

 .col-selections {
   margin-left: 4rem;
 }

 .dropdown-row .dropdown {
   width: 100%;
 }


 .mi>img {
   padding-right: 1rem;
 }

 .md-Select {
   font-size: 1.25rem;
 }

 .md-Selc-Text {
   color: white;
 }

 @media(min-width:768px) {
   .rating {
     display: block;
     width: auto;
   }
 }

.qm {
  margin-left: -1rem;
}

.col-auto {
  position: relative;
}

.hovertext {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 25rem; /* Set the width to your desired value */
}

.col-auto:hover .hovertext {
  background-color: #F0F8FF;
  display: block;
}

.fa-question-circle:hover + .hovertext {
  display: block;
}


.addhovertext {
  display: none;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  background-color: #fff;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 25rem; /* Set the width to your desired value */
}


.add:focus + .addhovertext {
  display: block;
  background-color: lightgrey;
}

.red {
  outline: 3px solid red;
}

.green {
  outline: 3px solid green;
}

.humans {
  text-align: right;
  padding-right: 1.5rem;
}

.cardBottom {
  bottom: 0;
}



 